@{
    ViewData["Title"] = "Página Inicial";
}

<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">Seja bem vindo ao Buffet Manager!</h5>
    <a href="/User" class="btn btn-primary">Acesar página do usuário</a>
  </div>
</div>