@{
    ViewData["Title"] = "Configurações";
}

<div class="card mt-2">
    <div class="card-body">
        <h3>Configurações</h3>
        <div class="list-group mt-3">
            <a asp-controller="SituacaoEvento" onmouseover="setEffect(this)" onmouseleave="removeEffect(this)" asp-action="Index" class="list-group-item list-group-item-action">Situações de Eventos</a>
            <a asp-controller="SituacaoConvidado" onmouseover="setEffect(this)" onmouseleave="removeEffect(this)" asp-action="Index" class="list-group-item list-group-item-action">Situações de Convidados</a>
            <a asp-controller="TipoEvento" onmouseover="setEffect(this)" onmouseleave="removeEffect(this)" asp-action="Index" class="list-group-item list-group-item-action">Tipos de Eventos</a>
        </div>
    </div>
</div>

<script>
    function setEffect (target) {
        target.setAttribute("class", "list-group-item list-group-item-action active");
    }
    function removeEffect (target) {
        target.setAttribute("class", "list-group-item list-group-item-action");
    }
</script>