@{
    ViewData["Title"] = "Configurações";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            @* <div class="col text-center"> *@
            @*     <a asp-controller="Config" asp-action="TipoEvento" class="w-75 btn btn-primary">Tipos de Eventos</a> *@
            @* </div> *@
            @* <div class="col text-center"> *@
            @*     <a asp-controller="Config" asp-action="SituacaoEvento" class="w-75 btn btn-primary">Situações de Eventos</a>          *@
            @* </div> *@
            <div class="col text-center">
                 <a asp-controller="SituacaoConvidado" asp-action="Index" class="w-75 btn btn-primary">Situações de Convidados</a>           
            </div>
        </div>
    </div>
</div>