@{
    ViewData["Title"] = "Página Inicial";
}

<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">Seja bem vindo @User.Identity.Name!</h5>
    <a href="/Home" class="btn btn-primary">Página publica</a>
  </div>
</div>