@{
    ViewData["Title"] = "Política de Privacidade";
    Layout = ViewBag.Layout;
}

<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">Política de Privacidade</h5>
    <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum quis nisi non dapibus. 
        Vestibulum auctor felis magna, nec dignissim nisi fringilla non. Vestibulum eu velit venenatis tellus 
        vestibulum finibus id a lacus. Pellentesque id arcu hendrerit nunc venenatis interdum eu eget eros. 
        Proin in magna tortor. Nullam tempor libero id magna commodo, nec efficitur odio efficitur. 
        Aenean at ante eu velit condimentum molestie eget ut enim. Integer venenatis finibus fermentum. 
        Etiam eget magna lacinia, finibus ligula at, congue tortor. Nam tristique pharetra tellus nec bibendum. 
        In eu mauris pellentesque, dapibus dolor sit amet, feugiat est. Nulla rutrum enim sed tempus rutrum. 
        In et tellus arcu. Donec eleifend placerat pretium. 
    </p>
  </div>
</div>
