@model Buffet.ViewModels.Public.RegisterViewModel;

@{
    ViewData["Title"] = "Cadastro";
}

<div class="card mt-2">
    <div class="card-body">
        <div>
            @if (Model.Error != null)
            {
                <p class="alert alert-danger">@Model.Error</p>
            }
            @if (Model.Errors != null)
            {
                @foreach (var e in Model.Errors)
                {
                    <p class="alert alert-danger">@e</p>
                }   
            }
        </div>
        <form method="post" action="@Url.Action("Register", "User")">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="password">Confirmar senha</label>
                <input type="password" name="passwordConfirm" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>
